{% extends 'base.html' %}
{% load static %}

{% block other_css %}
    <link rel="stylesheet" href="{% static 'css/books.css' %}">
{% endblock %}

{% block title %}
    Книги -
{% endblock %}

{% block og %}
    <meta name="description" content="Подборки книг на разные темы. Ты можешь просмотреть эти списки и, быть может, определиться которую книгу сам хочешь прочитать">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="Уголок Мантикоры">
    <meta property="og:url" content="http://manticore-corner.ru">
    <meta property="og:locale" content="ru">
    <meta property="og:title" content="Книги">
    <meta property="og:description" content="Подборки книг, которые меня заинтересовали и понравились.">
    <meta property="og:image" content="http://manticore-corner.ru/static/img/logo.png">
{% endblock %}

{% block content %}
    <div class="block_lists">
        <h2>Книги</h2>
        <p>Здесь находятся книги, которые я хочу прочитать или же уже прочитал. Ты можешь просмотреть эти списки и, быть может, определиться которую книгу ты сам хочешь прочитать. К тому же я сделал раздел с книгами, которые крайне рекомендую к
        изучению!</p>
        <div class="lists">
            {% for section in books_sections %}
                <div class="list"><a href="{{ section.get_absolute_url }}">{{ section.title }}</a></div>
            {% endfor %}
        </div>
    </div>

{% endblock %}