{% extends 'base.html' %}
{% load static %}

{% block og %}
<meta property="og:type" content="website">
<meta property="og:site_name" content="Уголок Мантикоры">
<meta property="og:locale" content="ru">
<meta property="og:title" content="Книги">
<meta property="og:description" content="Подборки книг, которые меня заинтересовали и понравились.">
<meta property="og:image" content="http://manticore-corner.ru/static/img/logo.png"
{% endblock %}


{% block other_css %}
    <link rel="stylesheet" href="{% static 'css/books.css' %}">
{% endblock %}

{% block title %}
    Книги -
{% endblock %}

{% block content %}
    <div class="block_lists">
        <h2>Книги</h2>
        <p>Здесь находятся книги, которые я хочу прочитать или же уже прочитал. Вы можете просмотреть эти списки и выбрать чтобы вам почитать такого интересного. К тому же я сделал раздел с книгами, которые рекомендую к
        чтению. Это те книги, которые по моему мнению, являются очень полезными, те которые должен прочитать каждый уважающий себя человек!)</p>
        <div class="lists">
            {% for section in books_sections %}
                <div class="list"><a href="{{ section.get_absolute_url }}">{{ section.title }}</a></div>
            {% endfor %}
        </div>
    </div>

{% endblock %}