@keyframes image_scale {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
}

@keyframes from_opacity_zero {
    from {
        opacity: 0;
    }
    to {
        opacity: 0.9;
    }
}

@keyframes from_zero {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}

@keyframes rotate_5 {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(5deg);
    }
}

@keyframes show_from_top {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(0);
    }
}

@keyframes show_from_right {
    from{
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}