@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Marck+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Philosopher&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@200&display=swap');

@font-face {
	font-family: 'PosteRetro';
	src: url('../font/postretro/posteretro.eot'); /* IE 9 Compatibility Mode */
	src: url('../font/postretro/posteretro.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../font/postretro/posteretro.woff2') format('woff2'), /* Super Modern Browsers */
		url('../font/postretro/posteretro.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../font/postretro/posteretro.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../font/postretro/posteretro.svg#posteretro') format('svg'); /* Chrome < 4, Legacy iOS */
}

html {
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    box-sizing: content-box;
}

button {
    /* Отмена выделения */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

a {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    text-transform: uppercase;
}

h1 {
    font-size: 25px;
}

.flex-center {
    display: flex;
    justify-content: center;
}

.upper_header {
    color: #999999;
    line-height: 50px;
    font-size: 14px;
}

.wrapper {
    width: 1200px;
}

.max--wrapper {
    max-width: 1200px   ;
}

.upper_header .wrapper {
    display: flex;
    justify-content: space-between;
    margin: 0 15px;
}

.upper_header .phrase {
    margin-bottom: 0;
}

.upper_header .wrapper .buttons{
    display: flex;
    /* Отмена выделения */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.upper_header .wrapper .buttons .users {
    display: flex;
    transition: 0.3s all;
    position: relative;
}

.upper_header .wrapper .buttons .users a{
    color: #999999;
    margin-left: 10px;
    text-decoration: none;
}

.upper_header .wrapper .buttons .users a:hover{
    color: #555555;
}



.upper_header .wrapper .buttons .search {
    margin-left: 20px;
}

.upper_header.flex-center .buttons .search form {
    display: inline-block;
}

input {
    border: 2px solid #eaeaeb !important;
}

input:focus {
    outline: none !important;
    border: 2px solid #ff9311 !important;
}

.upper_header .wrapper .buttons .search input {
    line-height: 20px;
    border: 2px solid #eaeaeb;
    padding: 3px 10px;
    font-size: 12px;
    display: none;
    animation: show_from_top 0.3s;
    animation-fill-mode: forwards, backwards;
}

.upper_header .buttons .search button {
    border: none;
    line-height: 20px;
    background: none;
    display: none;
    animation: show_from_top 0.3s;
    animation-fill-mode: forwards, backwards;
}

.upper_header .buttons .search .search_hide {
    display: none;
    cursor: pointer;
}

.upper_header .buttons .search .search_show {
    cursor: pointer;
}

.yellow {
    color: #f7972e;
}

.menu {
    height: 90px;
    align-items: center;
    border-bottom: 1px solid #d4d4d4;
    border-top: 1px solid #d4d4d4;
}

.menu .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.first-letter {
    font-family: 'PosteRetro';
}

.menu .logo{
    font-size: 27px;
    font-family: 'Playfair Display', serif;
    color: black;
    text-decoration: none;
}

.menu nav a {
    color: #363636;
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
    margin-left: 18px;
}

.menu nav a:hover {
    color: #ff9311;
    text-decoration: none;
}

.menu .current_page {
    color: #ff9311;
}

.menu .open_menu {
    display: none;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
}

.header_articles {
    display: flex;
    max-width: 100%;
    max-width: 100%;
    overflow: hidden;
}

.header_articles .article {
    max-height: 350px;
    position: relative;
    overflow: hidden;
}


.article img {
    z-index: -1;
    height: 110%;
    flex-basis: auto;
}

.article .description {
    position: absolute;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
    width: 100%;
    color: white;
    height: 80px;
    display: flex;
    align-items: center;
}

.article .description .description_wrapper {
    border-left: 3px solid #ff9311;
    margin-left: 15px;
    padding: 0 30px 0 15px;
    width: 100%;
}

.article .description h3 {
    text-transform: uppercase;
    margin: 0 0 5px 0;
    white-space: nowrap; /* Отменяем перенос текста */
    overflow: hidden; /* Обрезаем содержимое */
    padding-right: 10px; /* Поля */
    text-overflow: ellipsis; /* Многоточие */
}

.article .description .info {
    display: flex;
    justify-content: space-between;
}

.tag {
    position: absolute;
    bottom: 80px;
    left: 0;
    background: #ff9311;
    padding: 5px 15px;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
}

.header_article {
    width: 100%;
    overflow: hidden;
}

.header_article .main_img {
    height: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.header_article .main_img img {
    width: 100%;
}

.header_articles .article:hover img, .header_article .main_img:hover img {
    animation: image_scale 0.5s;
    animation-fill-mode: forwards, backwards;
}

.header_articles .article:hover .description .description_wrapper {
    border-left: 3px solid white;
    transition: 0.5s all
}

.last_posts .last_posts_content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.last_posts .image-header {
    position: relative;
}

.last_posts h2 {
    color: #363636;
    border-left: 6px solid #ff9311;
    padding-left: 15px;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 15px;
}

.last_posts .post {
    width: 48%;
    margin-bottom: 20px;
}

.last_posts .post:hover img {
    animation: image_scale 0.5s;
    animation-fill-mode: forwards, backwards;
}

.last_posts .post:hover .image-header{
    background: rgba(0, 0, 0, 0.8);
    z-index: 99;
}

.image-header {
    position: relative;
    overflow: hidden;
}

.image-header img {
    width: 100%;
    height: 100%;
}

.image-header .featured_post_tag span {
    display: inline-block;
    position: absolute;
    bottom: 10px;
    left: 19px;
    background: #ff9311;
    color: white;
    font-size: 14px;
    padding: 5px 13px 5px 8px;
    font-weight: bold;

}

.test::before {
    content: ' ';
    position: absolute;
    bottom: 21px;
    left: 3px;
    width: 10px;
    height: 10px;
    border: 10px solid transparent;
    border-top: 10px solid #ff9311;
    border-right: 10px solid #ff9311;

}

.test::after {
    content: ' ';
    position: absolute;
    bottom: 10px;
    left: 3px;
    width: 10px;
    height: 10px;
    border: 10px solid transparent;
    border-right: 10px solid #ff9311;
    border-bottom: 10px solid #ff9311;

}

.uppercase {
    text-transform: uppercase;
}

.last_posts h3 {
    margin-bottom: 5px;
}

.last_posts h3 a {
    color: black;
    font-size: 16px;
    text-transform: uppercase;
}

.last_posts .description_post {
    color: #2e303c;
    font-size: 14px;
}

.last_posts .description_post #watch_more{
    color: #999999 !important;
    font-weight: bold !important;
    text-transform: uppercase !important;
    font-size: 14px !important;
}

.last_posts .description_post #watch_more:hover {
    color: #ff9311;
    text-decoration: underline;
}

.last_posts .info {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #eaeaeb;
    border-bottom: 1px solid #eaeaeb;
}

.last_posts .info p {
    margin: 8px 0;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
}

.big-wrapper {
    display: flex;
    justify-content: center;
}

.content_block > div {
    margin-top: 40px;
}

.newsletter {
    border: 2px solid #f2f2f2;
    padding: 20px;
}

.newsletter h3 {
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
}

.newsletter_input_text {
    margin: 7px 0;
    width: 100%;
    border: 1px solid #eaeaeb;
    padding: 5px 10px;
    /*border-style: solid;*/
    border-radius: 0;
}

.newsletter button {
    width: 100%;
    background: #ff9311;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
    border: none;
    padding: 6px 0;
    margin-top: 15px;
}

.word_day {
    border: 2px solid #eaeaeb;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.word_day h3 {
    font-size: 18px;
    font-weight: bold;
}

.word_day .word {
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    margin-top: 15px;
    margin-bottom: 5px;
    border: 3px solid transparent;
    border-image: linear-gradient(to left top, #ff9310 10%, transparent 40%, transparent 60%, #ff9310 90%);
    border-image-slice: 1;
    display: inline-block;
    padding: 5px 15px;
    text-transform: uppercase;
    color: black;
}

.aside {
    padding: 20px 15px;
    border: 2px solid #eaeaeb;
    margin-bottom: 30px;
}

.aside h3 {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

.quote_day {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quote_day h3 {
    margin-bottom: 15px;
}

.quote_day blockquote {
    font-style: italic;
    text-align: center;
}

.quote_day .author {
    display: inline-block;
    padding: 5px 15px;
    font-weight: bold;
    color: #ff9310;
    border: 3px solid transparent;
    border-image: linear-gradient(to left top, #000 10%, transparent 40%, transparent 60%, #000 90%);
    border-image-slice: 1;
}

.word_day .description_word {
    font-size: 14px;
    text-align: center;
}

.full_posts .post, .article_info {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    margin-bottom: 60px;
}

.article_info {
    margin-bottom: 10px;
    margin-top: 20px;
    text-align: center;
}

.article_info h1 {
    font-size: 25px;
    font-weight: bold;
}

.full_posts .post:hover img {
    animation: image_scale 0.5s;
    animation-fill-mode: forwards, backwards;
}

.full_posts h2{
    text-align: center;
    margin-top: 15px;
    font-size: 22px;
    text-transform: uppercase;
    font-weight: bold;
}

.full_posts .post > h2 > a {
    color: #2e303c !important;
    text-decoration: none;
}

.full_posts .post > h2 > a:hover {
    color: #2f2f2f;
}


.full_posts .read_more a {
    text-decoration: none;
    padding: 4px 12px;
    background: #ff9311;
    border: 2px solid #ff9311;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    display: inline-block;
    margin-bottom: 10px;
}

.full_posts .read_more a:hover {
    border: 2px solid #ff9311;
    background: transparent;
    color: #ff9311;
    transition: 0.2s all;
}

.full_posts .info {
    width: 100%;
}

.full_posts table {
    width: 100%;
}

.full_posts table td {
    text-align: center;
    border: 1px solid #ebebeb;
    width: 33.333333%;
    padding: 10px;
    color: #999999;
    text-transform: capitalize;
    font-size: 13px;
}

.date_published {
    display: flex;
    align-items: center;
    justify-content: center;
}


.left_point {
    background: #e3e3e3;
    margin-right: 15px;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    display: inline-block;
    position: relative;
}

.left_point::before {
    content: ' ';
    position: absolute;
    left: -999px;
    bottom: 3px;
    width: 1000px;
    height: 1px;
    background: #e3e3e3;
    display: inline-block;
}

.right_point {
    margin-left: 15px;
    background: #e3e3e3;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    display: inline-block;
    position: relative;
}

.right_point::before {
    content: ' ';
    position: absolute;
    left: 2px;
    bottom: 3px;
    width: 1000px;
    height: 1px;
    background: #e3e3e3;
    display: inline-block;
}

footer {
    background: #2e303c;
    color: white;
    padding-top: 80px;
    margin-top: 30px;
}

.main_footer {
    margin-bottom: 40px;
}

footer h2 {
    font-size: 16px;
    margin-bottom: 20px;
    font-weight: bold;
    text-transform: uppercase;
}

footer p, ul {
    font-size: 14px;
    margin-bottom: 5px;
}

footer ul {
    padding-left: 25px;
}

footer hr {
    width: 100%;
    background: #6d6e76;
}

footer .about_blog img{
    width: 100%;
}

footer .last_twitter_posts {
    display: flex;
    flex-direction: column;
}

footer .last_twitter_posts .post .info {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

footer .last_twitter_posts .post .info img {
    margin-right: 20px;
}

footer .last_twitter_posts .info p{
    line-height: 22px;
    margin-bottom: 0;
}

footer .last_twitter_posts .info .link a {
    color: #ff9311;
}

footer .last_twitter_posts .text_of_post {
    margin-bottom: 0;
    line-height: 23px;
}

footer .subscript_follow_us form input {
    background: transparent;
    border: 1px solid #43454f;
    padding: 5px 20px;
    width: 100%;
    color: #999999;
}

footer .subscript_follow_us form button{
    display: block;
    width: 100%;
    border: 2px solid transparent;
    color: white;
    background: #ff9311;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
    padding: 3px 0;
    margin-top: 10px;
}

footer .subscript_follow_us form button:hover{
    background: transparent;
    color: #ff9311;
    border: 2px solid #ff9311;
    transition: 0.3s all;

}

footer .under_footer {
    margin-right: 0 !important;
}

footer .under_footer .wrapper {
    display: flex;
    justify-content: space-around;
}

footer .under_footer a {
    color: white;
}

footer .under_footer a:hover {
    color: #ff9311;
}

footer .vertical_hr {
    height: 20px;
    width: 1px;
    background: #43454f;
}

.subscribe_telegram {
    position: sticky;
    top: 30px;
}

.subscribe_telegram .tg_block a {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.subscribe_telegram .tg_block .tg_icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 50px;
    background: #1d9cdf;
    font-weight: bold;
    color: white;
}

.subscribe_telegram .tg_block .text_subscribe {
    height: 40px;
    width: 100%;
    background: #80c3ee;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
}

.subscribe_telegram .tg_block:hover .text_subscribe {
    background: #1d9cdf;
    text-decoration: none;
    transition: 0.3s all;
}

.dark_block {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle, #2f2f2f, #000);
    opacity: 0.9;
    z-index: 99;
    animation: from_opacity_zero 0.5s;
    animation-fill-mode: forwards, backwards;
    display: none;
}

.user-login {
    margin: auto;
    background: #fff;
    z-index: 100;
}


.user-login h2 {
    font-size: 22px;
    margin-bottom: 15px;
}

.user-login .registration_my_form label {
    display: block;
}

.user-login .registration_my_form input {
    border: 2px solid #d7d7d7;
    padding: 6px 15px;
    display: block;
    font-size: 14px;
    width: 290px;
}

.user-login .privacy, .user-login p:nth-child(5){
    display: flex;
    align-items: center;
}

.user-login .privacy a {
    color: #ff9311;
}

.user-login .privacy input,
.user-login .privacy label,
.user-login .registration_my_form label[for='email_newsletter'],
.user-login, .registration_my_form #email_newsletter {
    display: inline !important;
    width: auto;
    margin-bottom: 0;
    margin-right: 5px;
}

.user-login .registration_my_form button {
    border: none;
    background: #ff9311;
    padding: 5px 15px;
    font-size: 15px;
    text-transform: uppercase;
    color: white;
    margin-top: 10px;
    font-weight: bold;
}

.user-login .registration_my_form button:hover {
    border-radius: 10px;
    transition: 0.3s all;
}

.user-login button[disabled] {
    padding: 3px 15px !important;
    border: 2px solid #999999 !important;
    color: #999999 !important;
    background: transparent !important;
}

.user-login button[disabled]:hover {
    border-radius: 0 !important;
}

.user-login .registration_my_form p {
    font-size: 14px;
}

.user-login .registration_my_form p > a {
    text-transform: uppercase;
    color: #2e303c;
}

.user-login .registration_my_form p > a:hover {
    color: #ff9311;
}

.sign_in {
    height: 300px !important;
}

.auth_from_other_sites {
    margin-top: 25px;
}

.auth_with a {
    color: white;
    padding: 3px;
    width: 80%;
    display: inline-block;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 15px;
    text-align: center;
}


.user-login .google a {
    background: white;
    color: #dd1821;
    border: 2px solid #dd1821;
}

.user-login .google a:hover {
    text-decoration: none;
    transition: all 0.2s;
    background: #dd1821;
    color: white;
    border: 2px solid transparent;
}

.user-login .facebook a {
    background: white;
    color: #536da6;
    border: 2px solid #536da6;

}

.user-login .facebook a:hover {
    text-decoration: none;
    color: white;
    transition: all 0.2s;
    background: #536da6;
    border: 2px solid transparent;
}

.user-login .twitter a {
    background: white;
    color: #536da6;
    border: 2px solid #536da6;
}

.user-login .twitter a:hover {
    text-decoration: none;
    background: #536da6;
    transition: all 0.2s;
    color: white;
    border: 2px solid transparent;
}

.user-login .telegram a {
    background: #1d9cdf;
    border: 2px solid #1d9cdf;
}

.user-login .telegram a:hover {
    text-decoration: none;
    background: white;
    color: #1d9cdf;
    transition: all 0.2s;
}

/* Page with article */

.post_info {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #d3d3d7;
    margin-bottom: 40px;
    margin-top: 10px;
}

.post_info .post_like * {
    color: #ff9311;
    font-size: 22px;
}

.post_info .tags_categories_post {
    padding-bottom: 7px;
    color: #999;
}

.post_info .tags_categories_post .category-title {
    font-weight: bold;
}

.post_info .tags_categories_post a {
    color: #2f2f2f;
}


.block-comments h2 {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}

.block-comments .your_comment textarea {
    border: 2px solid #d4d4d4;
    width: 100%;
    height: 120px;
    resize: none;
    padding: 5px 10px;
}

.block-comments .your_comment textarea:focus {
    border: 2px solid #ff9311;
    outline: none;
}

.block-comments .your_comment textarea::-moz-focus-outer, .block-comments .your_comment textarea::-moz-focus-inner {
    border: 0;
    padding: 0;
}

.block-comments .your_comment .comment_button {
    color: white;
    background: #ff9311;
    text-transform: uppercase;
    padding: 5px 15px;
    margin-top: 10px;
    border: 2px solid transparent;
    text-decoration: none;
    font-weight: bold;
}

.block-comments .your_comment .comment_button:hover {
    background: transparent;
    border: 2px solid #ff9311;
    color: #ff9311;
    transition: 0.3s all;
}

.block-comments .comments {
    margin-top: 30px;
}

.comment {
    display: flex;
    margin-top: 10px;
}

.comment .author_avatar {
    margin-right: 20px;
    height: 75px;
}

.comment .author_avatar img {
    height: 100%;
    border-radius: 50%;
}

.comment .info_comment {
    margin-bottom: 5px;
}

.comment .info_comment .name {
    font-weight: bold;
}

.comment .info_comment .date_published_comment {
    color: #999;
}

.errorlist {
    padding-left: 0;
    padding-bottom: 5px;
    margin: 0;
}

.errorlist li {
    background: #C41E3A;
    color: white;
    font-weight: bold;
    padding: 5px 10px;
}

/* --------- ARTICLES! --------*/

.pagination {
    display: flex;
    justify-content: center;
}

.pagination .current {
    margin: 0 10px;
}

.pagination-button {
    text-decoration: none;
    padding: 3px 10px;
    text-transform: uppercase;
    font-weight: bold;
    background: #ff9311;
    border: 2px solid #ff9311;
    color: white;
    border-radius: 5px;
}

.pagination-button:hover {
    background: transparent;
    color: #ff9311;
    text-decoration: none;
    transition: 0.2s all;
}

.block-comments > p {
    text-align: center;
    font-size: 16px !important;
}

.block-comments > p a {
    color: #ff9311;
}

.full_posts .post:last-child {
        margin-bottom: 0;
}

.menu-mobile {
    display: none;
}


@media only screen and (max-width : 1230px) {
    .menu {
        padding: 0 15px;
        height: 70px;
    }

    .menu .logo {
        font-size: 23px;
    }

    .menu nav a{
        font-size: 14px;
        margin-left: 10px;
    }

    .upper_header {
        line-height: 40px;
    }

    .article_content p, li{
        font-size: 14px !important;
    }

    .full_posts table td {
        padding: 5px;
    }

    .article_info .date_published, .full_posts .date_published {
        margin-bottom: 5px !important;
    }

    .word_day .word {
        font-size: 16px;
    }

    .aside .description_word, .aside blockquote {
        font-size: 14px;
    }

    .subscribe_telegram {
        font-size: 14px;
    }

    .subscribe_telegram .tg_block .text_subscribe {
        font-size: 12px;
        height: 30px;
    }

    .subscribe_telegram .tg_block .tg_icon {
        height: 30px;
        width: 30px;
    }

    .content_block {
        margin: 0 0 !important;
    }

    footer .wrapper .row {
        margin: 0 10px;
    }
}

@media only screen and (max-width : 850px) {
    .menu {
        height: 60px;
        position: sticky;
        top: 0;
        background: #fff;
        z-index: 999999999;
    }

    .menu nav {
        display: none;
    }
    
    .menu-mobile {
        animation: show_from_right 0.3s forwards, backwards;
        display: none;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: #fff;
        height: 100%;
        width: 75%;
        position: fixed;
        top: 0;
        right: 0;
        z-index: 999;
        border-left: 2px solid #d4d4d4;
        overflow-y: auto;
    }
    
    .menu-mobile nav {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .menu-mobile h3 {
        font-weight: bold;
    }

    .menu-mobile nav a {
        margin-bottom: 10px;
        margin-left: 0 !important;
        font-size: 20px !important;

    }

    .menu-mobile .close-menu {
        position: absolute;
        top: 10px;
        right: 25px;
        font-size: 40px;
    }

    .menu .open_menu {
        display: inline-block;
    }

    .search {
        display: none;
    }

    .search-mobile {
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .search-mobile input {
        line-height: 20px;
        border: 2px solid #eaeaeb;
        padding: 3px 10px;
        font-size: 12px;
        width: 90%;
    }

    .search-mobile button {
        line-height: 20px;
        background: transparent;
        color: #ff9311;
        text-transform: uppercase;
        font-weight: bold;
        padding: 3px 10px;
        border: 2px solid #ff9311;
        font-size: 16px;
        margin-top: 10px;
    }

    .search-mobile button:hover {
        background: #ff9311;
        color: white;
    }

    .word_day .word {
        font-size: 14px;
    }

    .aside h3 {
        font-size: 16px;
    }

    .aside .description_word, .aside blockquote {
        font-size: 12px;
    }

    .text_post p, .text_post li, .text_post input, .text_post button {
        font-size: 14px !important;
    }

    footer p, li, input, button {
        font-size: 12px !important;
    }
}

@media only screen and (max-width : 766px) {
    .aside {
        margin-bottom: 15px;
    }

    .full_posts .post {
        margin-bottom: 30px;
    }

    .block-comments {
        font-size: 14px;
    }

    .block-comments h2 {
        font-size: 23px;
    }

    .post_info {
        margin-bottom: 20px;
    }

    .block-comments .comments {
        margin-top: 30px;
    }

    .comments hr {
        margin: 10px 0;
    }

    .comment {
        margin-top: 15px;
    }

    footer {
        padding-top: 20px;
    }

    footer h2 {
        text-align: center;
        margin-top: 30px;
    }

    .under_footer .wrapper {
        display: flex;
        flex-direction: column;
    }
    
    .under_footer .vertical_hr {
        display: none;
    }
    
    .under_footer p {
        text-align: center;
    }
}

@media only screen and (max-width: 576px) {
    .auth_with {
        width: auto;
        display: inline-block;

    }
    .auth_with a {
        width: 100%;
        padding: 3px 10px 3px 5px;
    }
}

@media only screen and (max-width : 525px) {
    .phrase {
        text-align: center;
    }

    .upper_header {
        line-height: 30px;
    }

    .upper_header .wrapper {
        flex-direction: column;
        align-items: center;
        font-size: 12px;
    }

    .menu {
        height: 45px;
    }

    .last_posts .post {
        width: 100%;
    }

    .comment .author_avatar {
        height: 65px !important;
    }
}
