h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 23px;
}

@media only screen and (max-width : 850px) {
    h1 {
        font-size: 25px;
    }

    h2 {
        font-size: 20px;
    }

    p, ul {
        font-size: 14px;
    }
}
