{% extends 'base.html' %}
{% load static %}

{% block other_css %}
    <link rel="stylesheet" href="{% static 'css/hero_detail.css' %}">
{% endblock %}

{% block title %}
    {{ hero.name }} -
{% endblock %}

{% block og %}
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="Уголок Мантикоры">
    <meta property="og:url" content="http://manticore-corner.ru">
    <meta property="og:locale" content="ru">
    <meta property="og:title" content="{{ hero.name }}">
    <meta property="og:description" content="{{ hero.short_biography|safe|escape|truncatewords:15 }}">
    <meta property="og:image" content="{{ hero.picture_for_detail.url }}">
{% endblock %}

{% block content %}
    <div class="preview">
        <div class="main_img">
            <img src="{{ hero.picture_for_detail.url }}" alt="">
        </div>
        <div class="name">{{ hero.name }}</div>
    </div>
    <div class="about_hero">
        <div class="short_biography">
            <h2>Краткая биография:</h2>
            <div class="hero_text">
                {{ hero.short_biography|safe|escape }}
            </div>
        </div>
        <div class="influenced_me">
            <h2>Что для меня значит этот человечище:</h2>
            <div class="hero_text">
                {{ hero.influenced_me|safe|escape }}
            </div>
        </div>
        <div class="quotes-person">
                <h2>Цитаты:</h2>
                <div class="hero_text">
                    {{ hero.quotes|safe|escape }}
                </div>
        </div>
    </div>
{% endblock %}