{% extends 'base.html' %}
{% load static %}

{% block other_css %}
    <link rel="stylesheet" href="{% static 'css/my_hero.css' %}">
{% endblock %}

{% block title %}
    Стена героев -
{% endblock %}

{% block og %}
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="Уголок Мантикоры">
    <meta property="og:url" content="http://manticore-corner.ru">
    <meta property="og:locale" content="ru">
    <meta property="og:title" content="Cтена героев">
    <meta property="og:description" content="На этой стене находятся люди, которыми я восхищаюсь целиком или частично. Это те люди, на которых я хочу равняться.">
    <meta property="og:image" content="http://manticore-corner.ru/static/img/logo.png">
{% endblock %}

{% block content %}
    <div class="block_my_hero">
        <h2>Мои герои:</h2>
        <p>На этой стене находятся люди, которыми я восхищаюсь. Именно благодаря им стираются границы моих возможностей. Эти люди мотивируют совершать что-то необычное и идти до конца в выбранном направлении.</p>
        <div class="heroes">
            {% for hero in heroes %}
                <a href="{{ hero.get_absolute_url }}">
                    <div class="hero">
                        <img src="{{ hero.picture_for_wall.url }}" alt="">
                        <div class="inside_block">
                            <span>{{ hero.name }}</span>
                        </div>
                    </div>
                </a>
            {% endfor %}
        </div>
    </div>
{% endblock %}