{% extends 'base.html' %}
{% load static %}

{% block other_css %}
    <link rel="stylesheet" href="{% static 'css/about_blog.css' %}">
{% endblock %}

{% block title %}
    О блоге -
{% endblock %}

{% block og %}
    <meta name="description" content="Блог о саморазвитии, работе, бизнесе и тайм менеджменте... Мысли на разные темы, подборки книг, мои правила жизни.">
    <meta property="og:type" content="article">
    <meta property="og:site_name" content="Уголок Мантикоры">
    <meta property="og:url" content="http://manticore-corner.ru">
    <meta property="og:locale" content="ru">
    <meta property="og:title" content="О блоге">
    <meta property="og:description" content="{{ about_blog.body|safe|escape|truncatewords:15 }}">
    <meta property="og:image" content="{{ about_blog.picture.url }}">
{% endblock %}

{% block content %}
    <div class="header">
        <div class="img_header">
            <img src="{{ about_blog.picture.url }}" alt="">
        </div>
        <h2>{{ about_blog.title }}</h2>
        <div class="text_about_blog">
            {{ about_blog.body|safe|escape }}
            <p class="signature">manticore606</p>
        </div>
    </div>
{% endblock %}