{% extends 'base.html' %}
{% load static %}
{% load russian_pluralize %}

{% block title %}
Статьи -
{% endblock %}

{% block other_css %}
    <link rel="stylesheet" href="{% static 'css/articles.css' %}">
{% endblock %}

{% block og %}
    <meta name="description" content="">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="Уголок Мантикоры">
    <meta property="og:url" content="http://manticore-corner.ru">
    <meta property="og:locale" content="ru">
    <meta property="og:title" content="Статьи">
    <meta property="og:description" content="Статьи о саморазвитии, работе, бизнесе, тайм менеджменте и схожих тематиках">
    <meta property="og:image" content="http://manticore-corner.ru/static/img/logo.png">
{% endblock %}

{% block aside %}
    <div class="categories aside">
        <h3>Категории</h3>
        <div class="categories-items">
            {% for tag in all_tags %}
                <a href="{% url 'blog:articles_categories' tag.slug %}">{{ tag }}</a>
            {% endfor %}
        </div>

    </div>
{% endblock %}

{% block content %}
<div class="full_posts">
    {% for post in posts %}
        <div class="post">
            <div class="image-header">
                {% if post.main_photo %}
                    <a href="{{ post.get_absolute_url }}" class="gradient"><img src="{{ post.main_photo.url }}" alt=""></a>
                {% else %}
                    <a href="{{ post.get_absolute_url }}" class="gradient"><img src="{% static 'img/posts/no-photo-its-bad.jpg' %}" alt=""></a>
                {% endif %}
                <div class="featured_post_tag">
                    <div class="test"></div>
                    <span>
                        {% for tag in post.tags.all %}
                            {{ tag.name }}
                        {% empty %}
                            Без категории
                        {% endfor %}
                    </span>
                </div>
            </div>

            <h2>
                <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
            </h2>
            <p class="date_published"><span class="left_point"></span><span class="date">{{ post.date_pub|date:"d F Y"}}</span><span class="right_point"></span></p>
            <div class="text_post">{{ post.body|safe|escape|truncatewords:50 }}</div>
            <p class="read_more"><a href="{{ post.get_absolute_url }}">Продолжить чтение</a></p>
            <div class="info">
                <table>
                    <tr>
                        <td class="likes">{{ post.users_like.count }} {{ post.users_like.count|r_pluralize:'Лайк,Лайка,Лайков' }}</td>
                        <td class="comments">{{ post.comments.count }} {{ post.comments.count|r_pluralize:'Комментарий,Комментария,Комментариев' }}</td>
                        <td class="share">{{ post.views }} {{ post.views|r_pluralize:'Просмотр,Просмотра,Просмотров' }}</td>
                    </tr>
                </table>
            </div>
        </div>
    {% endfor %}

</div>

<hr>


<div class="pagination">
  <span class="step-links">
    {% if posts.has_previous %}
      <a href="?page={{ posts.previous_page_number }}" class="pagination-button">Назад</a>
    {% endif %}
    <span class="current">
      Страница {{ posts.number }} из {{ posts.paginator.num_pages }}.
    </span>
      {% if posts.has_next %}
        <a href="?page={{ posts.next_page_number }}" class="pagination-button">Вперёд</a>
      {% endif %}
  </span>
</div>

{% endblock %}


