{% extends 'base.html' %}
{% load static %}

{% block other_css %}
    <link rel="stylesheet" href="{% static 'css/my_rules.css' %}">
{% endblock %}

{% block title %}
    Мои правила жизни -
{% endblock %}

{% block og %}
    <meta name="description" content="Мои правила жизни, которыми я руководствуюсь во всех сферах своей жизни.">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="Уголок Мантикоры">
    <meta property="og:url" content="http://manticore-corner.ru">
    <meta property="og:locale" content="ru">
    <meta property="og:title" content="Мои правила жизни">
    <meta property="og:description" content="Принцыпы, которыми я руководствуюсь во всех сферах своей жизни.">
    <meta property="og:image" content="http://manticore-corner.ru/static/img/logo.png">
{% endblock %}

{% block content %}
    <h1>Мои правила жизни:</h1>
    <div class="tabs">
        {% for rule in rules %}
            <div class="section {% if forloop.first %}section-checked{% endif %}">{{ rule.title }}</div>
        {% empty %}
            <div class="section">Пусто...</div>
        {% endfor %}

        {% for rule in rules %}
            <div class="rules {% if forloop.first %}show{% endif %}">
                {{ rule.rules_of_section|safe|escape }}
            </div>
        {% empty %}
            <p>Здесь пока ничего нет(</p>
        {% endfor %}
    </div>
{% endblock %}
