{% extends 'base.html' %}

{% block title %}
Вход -
{% endblock %}

{% block og %}
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="Уголок Мантикоры">
    <meta property="og:url" content="http://manticore-corner.ru">
    <meta property="og:locale" content="ru">
    <meta property="og:title" content="Вход">
    <meta property="og:description" content="Авторизация существующего пользователя на сайт">
    <meta property="og:image" content="http://manticore-corner.ru/static/img/logo.png">
{% endblock %}

{% block content %}
<div class="sign_in user-login">
    <h2>Войти:</h2>
    <div class="row">
        <div class="col-sm-8 registration_my_form">
            <form action="" method="post">
                {{ form.errors }}
                {{ form_login.as_p }}
                {% csrf_token %}
                <p><button name="login">Войти</button> или <a href="{% url 'authorization:registration' %}">Зарегистрироваться</a></p>
            </form>
        </div>
        <div class="col-sm-4 auth_from_other_sites">
            <p class="google auth_with"><a href="{% url 'social:begin' 'google-oauth2' %}"><i class="icon-google"></i>Google</a></p>
{#            <p class="facebook auth_with"><a href="#"><i class="icon-facebook"></i>Facebook</a></p>#}
{#            <p class="twitter auth_with"><a href="#"><i class="icon-twitter"></i>Twitter</a></p>#}

        </div>
    </div>
</div>
{% endblock %}