{% extends 'base.html' %}
{% load static %}

{% block other_css %}
    <link rel="stylesheet" href="{% static 'css/user_page.css' %}">
{% endblock %}

{% block title %}
    Личная страница -
{% endblock %}

{% block og %}
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="Уголок Мантикоры">
    <meta property="og:url" content="http://manticore-corner.ru">
    <meta property="og:locale" content="ru">
    <meta property="og:title" content="Мой аккаунт">
    <meta property="og:description" content="Страница настроек аккаунта пользователя">
    <meta property="og:image" content="http://manticore-corner.ru/static/img/logo.png">
{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-md-4 left_block">
            <div class="avatar_user_img">
                <img src="{{ profile_user.picture.url }}" alt="">
            </div>

            <form id="update_avatar_form" method="POST" action=""  enctype="multipart/form-data">
                {% csrf_token %}
                {{ avatar_form.as_p }}

                <button class='avatar' name="avatar">Сохранить фото</button>
            </form>
        </div>
        <div class="col-md-8 main_block">
            <form action="" method="post">
                {% csrf_token %}
                {{ info_form.as_p }}
                <button name="info">Сохранить изменения</button>
            </form>
            <form action="" method="post" class="newsletter-form">
                {% csrf_token %}
                {{ newsletters_form.as_p }}
                <button name="newsletters">Сохранить изменения</button>
            </form>
            <form action="" method="post" class="logout">
                {% csrf_token %}
                <button name="logout">Выйти</button>
            </form>
        </div>
    </div>

{% endblock %}